.weather {
    background-color: #f0f8ff;
    color: #333;
    font-family: Arial, sans-serif;
}

.weather h1 {
    text-align: center;
    font-size: 2.5em;
}

.weather .temperature {
    font-size: 4em;
    text-align: center;
}

.weather .forecast {
    display: flex;
    justify-content: space-around;
}